/* Typogrpahy
*****************************/
h1,h2{
    margin-top: 10px;
}

.icon {
    color: #99d744;
}

/* Layout
*****************************/
.content {
    background-color: rgba(255,255,255,.4);
    width:100%;
    height:100%;
    background-size: cover;
}

.container {
    padding: 10px;
}

body {
    box-sizing: border-box;
}

.nav {
    margin-bottom:10px;
}

.nav-item img {
    max-height:3em;
}

#animals {
    flex-wrap: wrap;
    margin-bottom:20px;
}
.box {
    box-shadow: none;
    color: #4a4a4a;
}

.button.is-primary {
    background-color: #99d744;
}

/* Media Queries
*****************************/

@media (min-width:768px) {
   .nav-item img {
        max-height: 3em;
    }
    .card {
        border-radius: 10px;
    }
}

@media (min-width:1280px) {
   
}